/**
 * PBR Material Editor.
 *
 * Package: PBR extension for SketchUp
 *
 * Copyright: © 2019 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

* {

	box-sizing: border-box;
	vertical-align: middle;

}

.form-row {

	width: 420px;
	margin: 7px 2px;

	position: relative;

}

.label {

	display: inline-block;
	width: 144px;

}

.slider {

	width: 178px;

}

.uploader {

	width: 192px;

	/* Hide text :-S */
	color: transparent;

}

.checkbox.enlarge {

	transform: scale(1.5);

}

.num-field {

    width: 66.5px;
	padding: 2px;

}

.drop-down {

	width: 252.5px;
	padding: 2px;

}

.drop-down.set-full-width {

	width: 100%;

}

.tooltip {

	display: inline-block;
	margin-left: 3.5px;

}

.info-icon {

	opacity: .5;

}

.info-icon:hover {

	opacity: 1;

}

.info-icon::after {

	content: 'ℹ';

}

.drooltip {

	left: auto !important;
	right: 25px;

	max-width: fit-content;

}

.drooltip .content {

	line-height: 1.4;

	font-family: sans-serif;
	font-size: 14px;

	width: 360px;

}

.button {

	display: inline-block;

	color: black;
	text-align: center;
	
	padding: 7px 10px;
	margin: 0 .7px;

	cursor: pointer;

}

.button:hover {

	background-color: #eee;

}

.trash-icon::after {

	position: relative;
	bottom: 1px;
	right: 0;

	content: '🗑';

}

.button.make-unmissable,
.button.make-unmissable:hover {

	background-color: hsla(149, 60%, 50%, 1);

}

.button.make-unmissable {

    position: fixed;
    bottom: 0;
    right: -1px; /* FIXME */

    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .4);

    border-top-left-radius: 10px;

}
