/**
 * PBR Viewport.
 *
 * Package: PBR extension for SketchUp
 *
 * Copyright: © 2019 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

html, body {
	margin: 0;
	overflow: hidden;
}

html, body, #app {
	height: 100%;
}

#helpLink {

	z-index: 1;

	position: absolute;
	top: 0;
	right: 0;

	margin: 10px;

	color: black;
	text-decoration: none;

	cursor: pointer;

}

#helpLink:hover {

	text-decoration: underline;

}

canvas {

	cursor: url('assets/cursors/360-view.modded.svg'), move;

}
