/**
 * PBR Viewport.
 *
 * Package: PBR extension for SketchUp
 *
 * Copyright: © 2019 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

html, body {
	margin: 0;
	overflow: hidden;
}

html, body, #app {
	height: 100%;
}

#sunlightIntensity {

	position: absolute;
	top: 0;
	left: 0;

}

#sunlightIntensity .emoji {

	margin: 5px 0 0 10px;
	
}

#sunlightIntensity .slider {

	-webkit-appearance: slider-vertical;
	position: relative;
	top: 0;
	left: -54px;

	margin: 10px;

}

#helpLink {

	z-index: 1;

	position: absolute;
	top: 0;
	right: 0;

	margin: 10px;

	color: black;
	text-decoration: none;

	cursor: pointer;

}

#helpLink:hover {

	text-decoration: underline;

}

#app canvas {

	cursor: url('assets/cursors/360-view.modded.svg'), move;

}
